h3
  | {{ workshop }}
h4 Listagem das cervejas
table.tb-list
  thead
    tr
      th 
        a.order(data-ng-click='orderBy(\'name\')') Name
      th
        a.order(data-ng-click='orderBy(\'category\')') Category
  tbody
    tr(data-ng-repeat='beer in cervejas | orderBy:predicate:reverse')
      td 
        a(ng-href='/beers/{{beer._id}}')
          {{ beer.name }}
      td 
        a(ng-href='/beers/{{beer._id}}')
          {{ beer.category }}
