h3
  | {{ workshop }}
h4 Listagem das cervejas
table.container-small
  thead
    tr
      th 
        a.order(data-ng-click='orderBy(\'name\')') Name
      th
        a.order(data-ng-click='orderBy(\'category\')') Category
  tbody
    tr(data-ng-repeat='cerveja in cervejas | orderBy:predicate:reverse')
      td 
        a(data-ng-href='/beers/{{cerveja._id}}')
          {{ cerveja.name }}
      td 
        a(data-ng-href='/beers/{{cerveja._id}}')
          {{ cerveja.category }}
