<h3>
  {{ workshop }}
</h3>

<!-- Usando o filtro de ordenação -->
<a href="" data-ng-click="reverse=!reverse">
  Ordenar por {{ predicate }} - {{ !reverse }}
</a>

<!-- Vamos listar nosso array usando o ng-repeat -->
<ul>
<!-- Parecido com o nosso for no Jade -->
  <li data-ng-repeat='beer in cervejas | orderBy:predicate:reverse'>
  <!-- acessando os valores do array -->
    {{ beer.name }} - {{ beer.price }}
  </li>
</ul>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<!-- Tranformar minha lista em tabela e no ng-click do th
      pegar esse valor e ordenar a tabela a partir dele 

    Ou seja precisa criar uma função no Controller que será
    chamada no ng-click do th e irá setar o predicate no $scope

    Mais fácil que isso só desenhando :p

      -->





