extends ../layout

block content
  h1= title
  h2 Welcome to #{title}
  p= msg

  form(action='/api/beers', method='POST')
    label
      | Name:
      input(type='text', name='name')
    label
      | Price:
      input(type='text', name='price')
    label
      | Alcohol:
      input(type='text', name='alcohol')
    label
      | Description:
      textarea(name='description')
    input(type='submit', value='Salvar')

