//- usamos um layout para reaproveitar código
extends ../layout

block content
    //- variavel title que vem via res.render
    //- forma de instanciação de html via variável
  h1= title
    //- variavel title que vem via res.render
    //- forma de interpolação de variável em string utilizando #{}
  p Welcome to #{title}
