body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label, input[type=submit], p.show span, .btn {
  display: block;
  float: left;
  clear: both;
}